{{- $sold := .sold | default false -}}
{{- $atf := false -}}
{{- if .first -}}
  {{ $atf = true }}
{{- end -}}

<section class="block-latest{{ with .background }} block-bg{{ end }}"{{ partial "func/SetAnim" (dict "element" "block") }}>
  <div class="container">

    {{ partial "blocks/heading" . }}

    {{ $scratch := .Scratch }}
    {{ $count := 3 }}
    {{ with .count }}
      {{ $count = . }}
    {{ end }}
    {{ $items := where site.RegularPages "Section" "realestates" }}
    {{ if $sold }}
      {{ $items = where $items "Params.offer.sold" true }}
    {{ else }}
      {{ $items = where $items "Params.offer.sold" false }}
    {{ end }}
    {{ with first $count ( ($items).ByDate.Reverse ) }}
      {{ partial "realestates/items" (dict "pages" . "scrollsnap" true "abovethefold" $atf) }}
    {{ end }}

    {{- $show_button := .show_more | default true -}}
    {{ if $show_button }}
      {{ $index := site.GetPage "/realestates" }}
      {{ with $index }}
        <div class="bottom">
          <a href="{{ .Permalink }}" class="btn">{{ i18n "realestates.more" }}</a>
        </div>
      {{ end }}
    {{ end }}
  </div>
</section>
