@layer layouts {
  .page-realestates {
    .grid > .content {
      display: flex;
      flex-direction: column;
      row-gap: var(--gap-row);
    }

    .metas {
      .pricing,
      .status {
        &::before {
          content: none !important;
        }
        @media (--tablet) {
          margin-inline-start: auto;
        }
      }

      @media not (--tablet) {
        .pricing,
        .reference,
        .status {
          width: 100%;
        }
        
        .status {
          order: -1;
          text-align: center;
        }
        
        .reference + *::before {
          content: none !important;
        }
      }
    }

    .informations {
      table {
        display: flex;
        flex-direction: column;
        gap: var(--gap);
        @media (--tablet) {
          flex-direction: row;
        }
      }
      tbody {
        flex: 1;
      }
    }
  }
}


