.diagnostic
    .diagrams
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        &-in-progress
            position: relative
            .diagram
                opacity: .4
    .diagram
        flex-basis: 100%
        margin-bottom: $spacer
        @include media-breakpoint-up(md)
            flex-basis: calc(50% - #{$grid-gutter-width} / 2)
            margin-bottom: 0
        div
            padding-right: 20%
            position: relative
        img
            height: auto
            width: 100%
        p
            font-size: px2rem(12)
            font-weight: $font-weight-bold
            margin-bottom: 0
            text-transform: uppercase
        .value
            background: $body-bg
            border: 2px solid $body-color
            border-radius: 0.25rem
            color: $body-color
            padding: 0.5rem .75rem
            position: absolute
            right: 0
            text-transform: none
            top: 8%
            transform: translateY(-50%)
            &::before
                border-bottom: 3px solid transparent
                border-right: 3px solid black
                border-top: 3px solid transparent
                content: ''
                height: 0
                left: 0
                position: absolute
                top: 50%
                transform: translateX(-100%) translateY(-50%)
                width: 0
    .ges
        .value
            border-radius: 2rem
    
    .in_progress
        --bs-badge-color: white
        @extend .badge
        background-color: $gray-800
        font-size: 1rem
        left: 50%
        margin: 0
        position: absolute
        top: 50%
        transform: translate3d(-50%,-50%,0)

    $epd: "a" 9.5%, "b" 22.75%, "c" 36%, "d" 50%, "e" 63.5%, "f" 76.75%, "g" 90.5%
    @each $grade, $top in $epd
        .epd-#{$grade}
            .value
                top: $top

    $ghg: "a" 9.5%, "b" 22.75%, "c" 36%, "d" 50%, "e" 63.5%, "f" 76.75%, "g" 90.5%
    @each $grade, $top in $ghg
        .ghg-#{$grade}
            .value
                top: $top
   
    