{{- $type := .Params.realestates_types | default "sale" -}}
{{- $unit := site.Params.area_unit | default "m<sup>2</sup>" -}}
{{- $informations := i18n "realestates.informations" -}}
<section class="informations" id="{{ $informations | anchorize }}">
  <h2>{{ $informations }}</h2>
  <table>
    <tbody>
      {{- with .Params.reference }}
        <tr>
          <th scope="row">{{ i18n "realestates.reference.label_long" }}</th>
          <td>{{ partial "func/PrepareHTML.html" . }}</td>
        </tr>
      {{ end -}}
      {{- if eq $type "rent" }}
        <tr>
          <th scope="row">{{ i18n "realestates.type" }}</th>
          <td>{{ i18n "realestates.rental" }}</td>
        </tr>
      {{- else -}}
        {{- $realestates_categories := "realestates/realestates_categories.html" -}}
        {{- if templates.Exists ( printf "partials/%s" $realestates_categories ) }}
          <tr>
            <th scope="row">{{ i18n "realestates_categories.title" }}</th>
            <td>{{ partial $realestates_categories . }}</td>
          </tr>
        {{ end -}}
      {{ end -}}
      {{- with .Params.offer }}
        {{- if not .sold }}
          {{- with .price }}
            <tr>
              <th scope="row">{{ i18n "realestates.pricing" }}</th>
              <td>
                {{- partial "realestates/price" (dict "price" . "type" $type) -}}
              </td>
            </tr>
          {{ end -}}
        {{ end -}}
      {{ end -}}
    {{ with .Params.informations }}
      {{ with .district }}
        <tr>
          <th scope="row">{{ i18n "realestates.district" }}</th>
          <td>{{ partial "func/PrepareHTML.html" . }}</td>
        </tr>
      {{ end }}
      {{ with .area }}
        {{ $value := . | lang.FormatNumber 0 }}
        <tr>
          <th scope="row">{{ i18n "realestates.area" }}</th>
          <td>{{ i18n "realestates.area_with_value" (dict "Value" $value "Unit" $unit) | safeHTML }}</td>
        </tr>
      {{ end }}
      {{ with .field }}
        {{ $value := . | lang.FormatNumber 0 }}
        <tr>
          <th scope="row">{{ i18n "realestates.field" }}</th>
          <td>{{ i18n "realestates.field_with_value" (dict "Value" $value "Unit" $unit) | safeHTML }}</td>
        </tr>
      {{ end }}
      {{ with .year }}
        <tr>
          <th scope="row">{{ i18n "realestates.year_construction" }}</th>
          <td>{{ partial "func/PrepareHTML.html" . }}</td>
        </tr>
      {{ end }}
      {{ with .energies }}
        {{ with .heating }}
          <tr>
            <th scope="row">{{ i18n "realestates.heating" }}</th>
            <td>{{ partial "func/PrepareHTML.html" . }}</td>
          </tr>
        {{ end }}
        {{ with .heating_type }}
          <tr>
            <th scope="row">{{ i18n "realestates.heating_type" }}</th>
            <td>{{ partial "func/PrepareHTML.html" . }}</td>
          </tr>
        {{ end }}
      {{ end }}
    {{ end }}
    </tbody>
    <tbody>
    {{ with .Params.informations }}
      {{ with .rooms }}
        <tr>
          <th scope="row">{{ i18n "realestates.room" . }}</th>
          <td>{{ i18n "realestates.room_with_count" (dict "count" .) }}</td>
        </tr>
      {{ end }}
      {{ with .bedrooms }}
        <tr>
          <th scope="row">{{ i18n "realestates.bedroom" . }}</th>
          <td>{{ i18n "realestates.bedroom_with_count" (dict "count" .) }}</td>
        </tr>
      {{ end }}
      {{- if or .bathrooms .showerrooms -}}
        {{- $bathrooms := .bathrooms | default 0 -}}
        {{- $showerrooms := .showerrooms | default 0 -}}
        {{- $count := add $bathrooms $showerrooms -}}
        {{- $label := i18n "realestates.bathroom_showerroom" $count -}}
        {{- if not .bathrooms -}}
          {{- $label = i18n "realestates.showerroom" .showerrooms -}}
        {{- else if not .showerrooms -}}
          {{- $label = i18n "realestates.bathroom" .bathrooms -}}
        {{- end -}}
        <tr>
          <th scope="row">{{ $label }}</th>
          <td>
            {{ with .bathrooms }}
              {{ i18n "realestates.bathroom_with_count" (dict "count" .) }}
            {{ end }}
            {{ if and .bathrooms .showerrooms }}/{{ end }}
            {{ with .showerrooms }}
              {{ i18n "realestates.showerroom_with_count" (dict "count" .) }}
            {{ end }}
          </td>
        </tr>
      {{ end }}
      {{ with .wc }}
        <tr>
          <th scope="row">{{ i18n "realestates.wc" . }}</th>
          <td>{{ i18n "realestates.wc_with_count" (dict "count" .) }}</td>
        </tr>
      {{ end }}
      {{ with .levels }}
        <tr>
          <th scope="row">{{ i18n "realestates.level" . }}</th>
          <td>{{ i18n "realestates.level_with_count" (dict "count" .) }}</td>
        </tr>
      {{ end }}
      {{ if isset . "floor" }}
        {{ $floor := cond (eq .floor 0) (i18n "realestates.groundfloor") .floor }}
        <tr>
          <th scope="row">{{ i18n "realestates.floor" }}</th>
          <td>{{ partial "func/PrepareHTML.html" $floor }}</td>
        </tr>
      {{ end }}
      {{ with .exposure }}
        <tr>
          <th scope="row">{{ i18n "realestates.exposure" }}</th>
          <td>{{ partial "func/PrepareHTML.html" . }}</td>
        </tr>
      {{ end }}
      {{ with .has_elevator }}
        <tr>
          <th scope="row">{{ i18n "realestates.elevator" }}</th>
          <td>{{ i18n "yes" }}</td>
        </tr>
      {{ end }}
      {{ with .has_balcony }}
        <tr>
          <th scope="row">{{ i18n "realestates.balcony" }}</th>
          <td>{{ i18n "yes" }}</td>
        </tr>
      {{ end }}
      {{ with .has_terrace }}
        <tr>
          <th scope="row">{{ i18n "realestates.terrace" }}</th>
          <td>{{ i18n "yes" }}</td>
        </tr>
      {{ end }}
      {{ with .has_swimmingpool }}
        <tr>
          <th scope="row">{{ i18n "realestates.swimmingpool" }}</th>
          <td>{{ i18n "yes" }}</td>
        </tr>
      {{ end }}
      {{ with .has_outbuilding }}
        <tr>
          <th scope="row">{{ i18n "realestates.outbuilding" }}</th>
          <td>{{ i18n "yes" }}</td>
        </tr>
      {{ end }}
      {{ with .has_cave }}
        <tr>
          <th scope="row">{{ i18n "realestates.cave" }}</th>
          <td>{{ i18n "yes" }}</td>
        </tr>
      {{ end }}
      {{ with .has_garage }}
        <tr>
          <th scope="row">{{ i18n "realestates.garage" }}</th>
          <td>{{ i18n "yes" }}</td>
        </tr>
      {{ end }}
      {{ with .has_box }}
        <tr>
          <th scope="row">{{ i18n "realestates.box" }}</th>
          <td>{{ i18n "yes" }}</td>
        </tr>
      {{ end }}
      {{ with .has_parking }}
        <tr>
          <th scope="row">{{ i18n "realestates.parking" }}</th>
          <td>{{ i18n "yes" }}</td>
        </tr>
      {{ end }}
    {{ end }}
    </tbody>
  </table>
</section>