{{ with .Params.address }}
  {{ if or .location .coordinates }}
    {{- $location := i18n "realestates.location" -}}
    <section class="location" id="{{ $location | anchorize }}">
      <h2>{{ $location }}</h2>
      {{- $marker := false -}}
      {{- with .location -}}
        {{- $marker = . -}}
      {{- end -}}
      {{- with .coordinates -}}
        {{- $coordinates := slice .lat .lng -}}
        {{- $marker = slice (dict "type" "Point" "coordinates" $coordinates) -}}
      {{- end -}}
      {{ if $marker }}
        {{ partial "commons/map.html" (dict "location" ($marker | jsonify) "marker_hidden" true ) }}
      {{ end }}
    </section>
  {{ end }}
{{ end }}
