<!-- Get Real estates -->
{{- $realestates := where site.RegularPages "Section" "realestates" -}}
<!-- Exclude the current page -->
{{- $currentDatePage := .Date -}}
{{- $realestates = where $realestates "Date" "ne" $currentDatePage -}}
<!-- Exclude sold real estates -->
{{- $realestates = where $realestates "Params.offer.sold" "ne" true -}}
<!-- In same categories -->
{{- if isset .Params "realestates_categories" -}}
  {{ $realestates_save := $realestates -}}
  {{ $realestates = where $realestates "Params.realestates_categories" "eq" .Params.realestates_categories -}}
  <!-- if not same real estates, get others -->
  {{- if eq (len $realestates) 0 -}}
    {{ $realestates = $realestates_save -}}
  {{- end }}
{{- end }}
<!-- Get 3 lastest realestates and order by newest -->
{{- $items := (first 3 $realestates).ByDate.Reverse -}}

{{ if gt $items 0 }}
  <section class="related">
    <div class="container">
      <h2>{{ i18n "realestates.related.available" $items }}</h2>
      {{ partial "realestates/items" (dict "pages" $items "scrollsnap" true) }}
    </section>
    </div>
{{ end }}
