{{/*  Get Real estates  */}}
{{- $items := where site.RegularPages "Section" "realestates" -}}
{{/*  Exclude the current page  */}}
{{- $currentDatePage := .Date -}}
{{- $items = where $items "Date" "ne" $currentDatePage -}}
{{/*  Exclude sold real estates  */}}
{{- $items = where $items "Params.offer.sold" "ne" true -}}
{{/*  In same category  */}}
{{- if isset .Params "realestates_categories" -}}
  {{- $items = where $items "Params.realestates_categories" "eq" .Params.realestates_categories -}}
{{- end }}
{{/*  In same types  */}}
{{- if isset .Params "realestates_types" -}}
  {{- $items = where $items "Params.realestates_types" "eq" .Params.realestates_types -}}
{{- end }}

{{ if gt $items 0 }}
  {{/*  Get 3 lastest realestates and order by newest  */}}
  {{- $items = (first 3 $items).ByDate.Reverse -}}
  <section class="related">
    <div class="container">
      <h2>{{ i18n "realestates.related.available" $items }}</h2>
      {{ partial "realestates/items" (dict "pages" $items "scrollsnap" true) }}
    </div>
  </section>
{{ end }}
