<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Product",
    "name": {{ .Title }},

    {{ with .Params.image }}
      "thumbnailUrl": {{ . | absURL }},
    {{ end }}

    {{ with .Date }}
      "datePublished": {{ . }},
    {{ end }}

    {{ with .Params.reference }}
      "sku": {{ . | plainify }},
    {{ end }}

    {{ with .Params.offer }}

      "offers": {
        "@type": "Offer",
      
        {{ with .sold }}
          "availability": "https://schema.org/OutOfStock",
        {{ else }}
          "availability": "https://schema.org/InStock",
        {{ end }}

        {{ with .price }}
          "price": {{ . | plainify }},
        {{ end }}
        
        "priceCurrency": {{ $currency := $.Site.Params.currency | default "EUR" }}
      }

    {{ end }}

    {{ with .Content }}
      "description": {{ . | plainify | safeHTML }},
    {{ end }}
  }
</script>