{{ with .Params.offer }}
  <div itemprop="offers" itemscope itemtype="https://schema.org/Offer">
    {{ with .sold }}
      <meta itemprop="availability" content="https://schema.org/OutOfStock">
    {{ else }}
      <meta itemprop="availability" content="https://schema.org/InStock">
    {{ end }}
    {{ if not .hide_price }}
      {{ with .price }}
        {{ $currency := $.Site.Params.currency | default "EUR" }}
        {{ $price := . | lang.FormatCurrency 2 $currency }}
        <p class="pricing" itemprop="price" content="{{ . }}">{{ $price }}</p>
        <meta itemprop="priceCurrency" content="{{ $currency }}">
      {{ end }}
    {{ end }}
  </div>
{{ end }}