{{- $type := .Params.realestates_types | default "sale" -}}
{{ with .Params.offer }}
  {{- if .exclusive -}}
    <p class="status status-exclusive">{{ i18n "realestates.exclusive" }}</p>
  {{ end -}}
  {{- if .sold -}}
    <p class="status">
      {{- if eq $type "rent" -}}
        {{ i18n "realestates.rent_agency" }}
      {{- else -}}
        {{ i18n "realestates.sold_agency" }}
      {{ end -}}
    </p>
  {{ else }}
    {{ with .status }}
      <p class="status">{{ partial "func/PrepareHTML.html" . }}</p>
    {{ end }}
  {{ end }}
{{ end }}