.page-realestates
    
    .metas,
    .informations,
    .diagnostic,
    .documents,
    .transaction,
    .location
        @include margin-bottom($global-spacing)
    .metas
        .pricing
            font-size: 1.25rem
            margin-left: auto
            &::before
                content: none
    
    .informations
        table
            margin-bottom: 0
        @include media-breakpoint-up(md)
            table
                display: flex
                justify-content: space-between
            tbody
                width: calc(50% - #{$grid-gutter-width} / 2)
            tr
                display: flex
            tr:first-of-type
                border-top-width: var(--bs-border-width)
            th,
            td
                width: 50%
    
    @include media-breakpoint-down(md)
        .grid > 
            .sidebar
                @include margin-bottom($global-spacing)
                order: 2
