.page-realestates
    
    .grid .metas,
    .informations,
    .diagnostic,
    .properties_gallery,
    .properties_documents,
    .transaction,
    .location
        @include margin-bottom($global-spacing)
    .metas
        @include media-breakpoint-down(md)
            align-items: baseline
            display: flex
            flex-wrap: wrap
            .reference
                flex-basis: 100%
                margin-bottom: .5rem
            .pricing
                flex-basis: 100%
                margin-top: .5rem
            .area,
            .rooms
                margin-left: .5rem
                &::before
                    content: '—'
                    margin-right: .5rem
        .pricing
            font-size: 1.25rem
            font-weight: $font-weight-bold
            margin-left: auto
            &::before
                content: none
    
    .hero,
    .heading
        .status-exclusive
            @extend .badge
            background-color: #{$red}
            margin-bottom: .5rem
    
    .heading
        h1
            min-width: 100%
            text-wrap: pretty
    
    .informations
        table
            margin-bottom: 0
            @include media-breakpoint-down(md)
                font-size: px2rem(14)
        th
            padding-left: 0
        td
            padding-right: 0
            p:last-child
                margin-bottom: 0
        @include media-breakpoint-up(md)
            table
                display: flex
                justify-content: space-between
            tbody
                width: calc(50% - #{$grid-gutter-width} / 2)
            tr
                display: flex
            tr:first-of-type
                border-top-width: var(--bs-border-width)
            th,
            td
                width: 50%
    
    .fee,
    .legal
        --bs-alert-bg: #{$light}
        @extend .alert
        font-size: $small-font-size

    .person 
        @include media-breakpoint-up(lg)
            position: sticky
            top: $offset
            z-index: 1
            @media (prefers-reduced-motion: no-preference)
                transition: top .3s ease
            html.is-scrolling-down &
                top: 1rem
        

    @include media-breakpoint-up(md)
        .grid > 
            .content
                grid-column: 1/13
                grid-row: 3
            .sidebar
                grid-column: 1/13
                grid-row: 4
    @include media-breakpoint-up(lg)
        .grid > 
            // .properties_gallery
            //     grid-column: 1/13
            //     grid-row: 2
            .content
                grid-column: 1/9
                grid-row: 3
            .sidebar
                grid-column: 9/13
                grid-row: 3

